﻿@model BankQueuingSystem.Models.BankViewModel

<h3>@Model.BankStatus</h3>
<p><b>TotalClients:</b> @Model.ClientsCount</p>

@if (Model.TellersList != null)
{
    <table class="fixed">
        <tr>
            @foreach (BankQueuingSystem.Models.Teller teller in Model.TellersList)
            {
                <th>
                    <p>Teller @teller.ID</p>
                </th>
            }
        </tr>
        <tr>
            @foreach (BankQueuingSystem.Models.Teller teller in Model.TellersList)
            {
                <td>
                    <p>@Model.TellerStatus(teller.ID)</p>
                </td>
            }
        </tr>
    </table>
}
<table>
    <h2>Clients Queue</h2>
    @if (Model.ClientList != null)
    {
        foreach (BankQueuingSystem.Models.Client item in Model.ClientList)
        {
        <tr>
            <td>Client:@item.ID ( @((BankQueuingSystem.Models.ClientType)item.ClientType))</td>
        </tr>
        }
    }

</table>


