﻿@model IEnumerable<BankQueuingSystem.Models.ClientQueue>

@{
    ViewBag.Title = "HistoryLog";
}

<h2>HistoryLog</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClientID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client.ClientType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArrivalDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TellerID)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.ClientID
        </td>
        <td>
            @((BankQueuingSystem.Models.ClientType)item.Client.ClientType)
        </td>
        <td>
            @item.ArrivalDate
        </td>
        <td>
            @item.ServingDate
        </td>
        <td>
            @item.EndTime
        </td>
        <td>
            @item.TellerID
        </td>
    </tr>
}

</table>
