﻿@model BankQueuingSystem.Models.BankViewModel
   @{
    ViewBag.Title = "Bank Simulation";
    }
<div class="row">

    
        <label class="switch">
            <input type="checkbox" id="BtnStart" onclick="changeBankStatus()">
            <span class="slider round"></span>
        </label>
       @* <p><input type="button" class="btn btn-default" id="BtnStart" value="@Model.BankBtnName" onclick="return changeBankStatus()" /></p>*@
   
      <div  id="queue">
        @Html.Partial("~/Views/Home/_BankQueue.cshtml", Model)
    </div>
   
    <div class="col-md-4">
        <p>@Html.ActionLink("View History Log", "HistoryLog",null, new { @class = "btn btn-default" })</p>
    </div>
</div>
<script>
    timer = setInterval(function () {
        $('#queue').load('@Url.Action("RefreshQueue", "Home")');
    }, 100);

      function changeBankStatus () {
        debugger;
        $.ajax({
            url: '/Home/ChangeBankStatus/',
            type: 'POST',
            success: function (data) {
                $('#queue').html(data);
            }
        })
    }
</script>